body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  background-color: rgb(240, 235, 206);
}

.cover-photo-container {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  right: 0;
  height: 150px;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
}

.cover-photo {
  width: 100%;
  height: 100%;
  object-fit:cover;
  overflow: hidden;
}

.main-body {
  display: grid;
  grid-template-columns: 170px 1fr;
}

.side-profile-bar {
  width: 170px;
  position: fixed;
  z-index: 200;
  top: 150px;
  left: 0;
  bottom: 0;
  background-color: rgba(165, 135, 82, 0.404);
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
  align-items: center;
}

.search-bar {
  display: grid;
  grid-template-columns: 1fr 35px;
  align-items: center;
  column-gap: 7px;
  margin-top: 15px;
  margin-left: 9px;
}

.search-input {
  width: 97%;
  padding: 5px;
  padding-left: 7px;
  border: none;
  border-radius: 10px;
}

.search-button {
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: none;
  padding-top: 5px;
  padding-left: 5px;
}

.search-img {
  width: 100%;
}

.sidebar {
  display: grid;
  grid-template-columns: 35px 1fr;
  gap: 7px;
  margin: 10px;
}

.sidebar-icon {
  width: 30px;
  height: 30px;
  display: flex;
}
.icon {
  width: 95%;
  height: auto;
}

.sidebar-icon-text {
  display: grid;
  align-items: center;
  color: white;
  font-weight: bold;
}

.todo-container {
  display: grid;
  margin-left: 225px;
  margin-top: 150px;
}

.todo-input-grid{
  margin-top: 45px;
  display: grid;
  grid-template-columns: 300px 32px 42px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 20px;
}

.todo-grid {
  font-family: 'Quicksand', sans-serif;
  color: rgb(26, 25, 25);
  display: grid;
  grid-template-columns: 3fr 1fr 42px 39px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  max-width: 780px;
  margin-right: 20px;
}

.name-input {
  font-family: 'Quicksand', sans-serif;
  width: 80%;
  font-size: 15px;
  padding: 7px 10px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(240, 235, 206);
  border-radius: 20px;
}

.due-date-input {
  font-size: 15px;
  padding: 6px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(240, 235, 206);
  border-radius: 4px;
}

.add-todo-button,
.delete-todo-button,
.done-todo-button {
  border: none;
  font-size: 15px;
  cursor: pointer;
  background-color:  rgb(240, 235, 206);
}

.add-icon,
.delete-icon,
.done-icon {
  width: 100%;
  height: 100%;
  background-color:  rgb(240, 235, 206);
}

.delete-todo-button {
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.done-todo-button {
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.done-clicked {
  text-decoration: line-through;
  color: gray;
}


